{% extends "base.html" %}
{% load guardian_tags %}

{% block title %}详细内容{% endblock %}

{% block body %}
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">{{ blog.title }}</h2>
            <p class="blog-post-meta">{{ blog.pub_date }} by <a href="{% url 'user_detail' blog.author_id %}">{{ blog.author }}</a></p>
              <p>{{ blog.body_text }}</p>
          </div><!-- /.blog-post -->
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              操作
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">评论</a></li>
              {% get_obj_perms request.user for blog as "blog_perm" %}
              {% if "change_blog" in blog_perm %}
                <li><a href="{% url 'edit' blog.id %}">编辑</a></li>
              {% endif %}
              {% if "delete_blog" in blog_perm %}
                <li><a href="" data-toggle="modal" data-target="#myModal">删除</a></li>
              {% endif %}
            </ul>
          </div>

            <ul class="pager">

             <!--<li><a href="#">Previous</a></li>
              {% get_obj_perms request.user for blog as "blog_perm" %}
              {% if "change_blog" in blog_perm %}
                <li><a href="{% url 'edit' blog.id %}">编辑</a></li>
              {% endif %}
              <li><a href="#">Next</a></li>-->
            </ul>

        </div><!-- /.blog-main -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">删除文章</h4>
          </div>
          <div class="modal-body">确认删除该文章？</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">放弃</button>
              <a class="btn btn-primary" href="{%  url 'delete' blog.id %}" role="button">删除</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->

{% endblock %}
