{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block body %}

  <div class="container">

  <div class="row">
    <div class="col-md-8">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>

    {% for blog in blogs %}
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="..." alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <a href="{% url 'detail' blog.id %}">{{ blog.title }}</a>
      </div>
      <hr>
    </div>
    {% endfor %}
    </div>
  </div>
  </div>

{% endblock %}